# 운영(프로덕션) 전용

# ===============================
# Core Web (ASGI & Framework)
# ===============================
fastapi==0.115.0
uvicorn[standard]==0.30.6

# ===============================
# Data & Validation
# ===============================
pydantic==2.9.2
sqlalchemy==2.0.36

# ===============================
# Database Driver & Upload
# ===============================
pymysql==1.1.1
python-multipart==0.0.9

# ===============================
# Auth & Security
# ===============================
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4

# ===============================
# Cloud (AWS)
# ===============================
boto3==1.35.24
